* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: black;
    padding: 10px;
    width: 600px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.zero, .clear {
    grid-column: span 2;
}
.output {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-around;
    grid-column: span 4;
    min-height: 100px;
    background-color: white;
    font-size: 40px;
    padding: 10px;
}
.output .previous-operand {
    color: gray;
    font-size: 25px;
}
.clear {
    background-color: rgb(255, 117, 117);
}
#del {
    background-color: rgb(255, 255, 141);
}
.operator{
    background-color: rgb(126, 196, 250);
}
.equal {
    background-color: rgb(132, 255, 132);
}
  
  